.container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 12px;
}
.containerCollapse {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: #F0F0F0F0;
    height: auto;
    width: 80%;
}

.divUp2 {
    background-color:#FF6060;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 14px;
    z-index: 1;
    color: white;
}

.p_Description2 {
    color:#FF6060;
    line-height: 1.7;
    padding: 22px 22px;
    margin: 0;
    height: auto;
    font-weight: 100;
    width: 75%;
  }