.HeaderContainer
    width: 90%
    height: 150px
    margin-left: 5%
    display: flex
    justify-content: space-between
    align-items: center
    

.HeaderNavLink
    a
        color: #FF6060
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        font-size: 24px
        line-height: 142.6%
        text-decoration: none

.NavLink
    display: flex

.MarginAbout
    margin-left: 60px