* {
  font-family: "Montserrat";
}

#root {
  max-width: 1440px;
  margin: auto;
}

body {
  margin-bottom: 0;
}

h1 {
  font-weight: 500; }

h3, p {
  font-weight: 100;
}

.containerOffer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // padding: 31px 20px;
  margin: 0 5%;
  border-radius: 15px;
  background-color: #F7F7F7; }

.containerOffer a {
  padding: 30px 0px 4px 0px;
}

.containerDiv {
  display: grid;
  height: 100%; }

.div_txt, .div_img {
  grid-area: 1/1;
  border-radius: 15px; }

.div_txt {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.66) 75%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 20px; }

.div_txt div {
  width: 100%; }

.div_txt div h3 {
  margin-bottom: 0; }

.div_txt div p {
  margin-bottom: 0; }

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover; }

// --------------------------------------------------------------- Footer

.footer {
  height: 200px;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.logoFooter {
 color: #FFFFFF;
}

.paragraphFooter {
  color: #FFFFFF;
  text-align: center;
  padding: 0 8px;
}

.footer img {
  height: 23px;
}

// Responsive with medias queries -------------------------------------------------------
@media (min-width:0px) and (max-width: 378px) {
  .containerOffer {
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: center;
    margin: 0 5%;
    }

  .containerDiv {
    height: 190px;
    // width: 303px;
    // margin: 0 4%;
  }

  .containerDiv h3 {
    font-size: 14px;
  }

  .containerDiv p {
    font-size: 11px;
  }

  .div_img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }

  .titleBanner {
    word-break: break-word;
  }
}

// --------------------------------------------------------------------------------------

@media (min-width: 375px) and (max-width: 530px) {
  .containerOffer {
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: center;
    margin: 0 5%;
    }

  .containerDiv {
    height: 303px;
    // width: 303px;
    // margin: 0 4%;
  }

  .div_img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
// --------------------------------------------------------------------------------------

@media (min-width: 531px) and (max-width: 900px) {
  .BannerContainer {
    margin-bottom: 20px;
  }
  
  .containerOffer {
    // display: grid;
    grid-template-columns: 1fr;
    justify-content: center; 
    }

  .containerOffer a {
    // margin-bottom: 30px;
     min-height: 200px;
     min-width: 200px;
     padding: 15px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }

}

@media (min-width: 901px) and (max-width:1200px) {
  .BannerContainer {
    margin-bottom: 20px;
  }
  
  .containerOffer {
    // display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    }

  .containerOffer a {
    // margin-bottom: 30px;
     min-height: 200px;
     min-width: 200px;
     padding: 30px 30px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }

   .div_txt h3 {
    font-size: 18px;
  }

   .div_txt p {
    font-size: 14px;
  }

}

@media (min-width: 1200px) and (max-width:1440px) {
   .BannerContainer {
    margin-bottom: 20px;
  }
  
  .containerOffer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    }

  .containerOffer a {
    // margin-bottom: 30px;
     height: 300px;
     width: 300px;
     padding: 30px 20px 0px 20px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }

   .div_txt h3 {
    font-size: 20px;
  }

   .div_txt p {
    font-size: 16px;
  }

  .footer {
    margin-top: 20px;
  }
}

@media (min-width: 1441px) {
   .BannerContainer {
    margin-bottom: 20px;
  }
  
  .containerOffer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

    }

  .containerOffer a {
    // margin-bottom: 30px;
     height: 350px;
     width: 350px;
     padding: 40px 40px 20px 40px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }

   .div_txt h3 {
    font-size: 20px;
  }

   .div_txt p {
    font-size: 16px;
  }

  .footer {
    margin-top: 20px;
  }
}
