* {
  font-family: "Montserrat"; }

h1 {
  font-weight: 500; }

.containerOffer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px 5%;
  padding: 31px 20px;
  border-radius: 15px;
  background-color: #F7F7F7; }

.containerOffer a {
  margin: 25px 30px; }

.containerDiv {
  display: grid;
  height: 100%; }

.div_txt, .div_img {
  grid-area: 1/1;
  border-radius: 15px; }

.div_txt {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.66) 75%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 20px; }

.div_txt div {
  width: 100%; }

.div_txt div h3 {
  margin-bottom: 0; }

.div_txt div p {
  margin-bottom: 0; }

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover; }
