.h1 {
  color: #FF6060;
  font-size: 40px; }

.localisation {
  color: #FF6060;
  font-size: 25px;
  line-height: 25.67px;
  font-weight: 400; }

// Container tags
.tags {
  color: white;
  background-color: #FF6060;
  width: auto;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border:none;
  margin: 0px 14px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.borderStyle {
  width: 47%; }

.containerFlexDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.titleFlexDiv {
  background-color: #FF6060;
  color: white;
  font-size: 25px;
  font-weight: 400; }

.redText {
  color: #FF6060; }

// Slider
.offerContainer {
  width: 90%;
  margin-left: 5%; }

.sliderContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 4px silver;
}

.sliderButton {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  }

// Container host
.hostFlex {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  align-items: center;
}

.hostImg {
  border-radius: 50%;
}

// Container stars (avis clients)
.starsContainer {
  display: flex;
}

.redStar {
  width: 60px;
  height: 60px;
  // background-image: url(red_star.png);
  // background-color: #FF6060;
}

.whiteStar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: #FF6060 2px solid;
  display: flex;
}
