a:link {
  text-decoration: none;
}

.main {
  width: 90%;
  margin-left: 5%; }

.h1 {
  color: #FF6060;
  font-size: 40px; 
  text-align: start;
}

.localisation {
  color: #FF6060;
  font-size: 25px;
  line-height: 25.67px;
  font-weight: 400; }

// Container tags ---------------------------------------------------------------------
.tags {
  color: white;
  background-color: #FF6060;
  width: auto;
  height: 40px;
  text-align: center;
  border-radius: 14px;
  display: flex;
  align-items: center;
  border:none;
  margin: 0px 14px 0px 0px;
  padding: 0px 30px 0px 30px;
}

.borderStyle {
  width: 820px; }

.containerFlexDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// Container slider -------------------------------------------------------------------

.sliderContainer {
  border-radius: 25px;
  box-shadow: 1px 1px 4px silver;
  height: 415px;
  position: relative;
}

.sliderButtonRight {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 170px 0px;
  }

  .sliderButtonLeft {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 170px 0px;

  }

.imgSlider {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
}

// Container host -------------------------------------------------------------------
.hostFlex {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  text-align: right;
}

.hostImg {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

// Container stars (avis clients) --------------------------------------------------
.starsContainer {
  display: flex;
}

.redStar {
  width: 60px;
  height: 60px;
}

.whiteStar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: #FF6060 2px solid;
  display: flex;
}

// Container description ----------------------------------------------------------- //
.containerDescriptionEquipement {
    text-align: left;
    // border: solid 2px black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.divContent {
    // border: solid 2px blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    border-radius: 14px;
    // border: solid 2px red;
    background-color: #F0F0F0F0;
    height: auto;
}

.divUp {
    background-color:#FF6060;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 14px;
    // border: solid 2px green;
    z-index: 1;
}

.divArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
    width: 60px;
  }

  .divButton {
    background-color:#FF6060;
    border: none;
    cursor: pointer;
  }

  .divText {
    font-weight: 100;
    display: block;
    color:#FF6060;
    margin: 7px -15px;
    height: auto;
    font-weight: 100;
  }

  .p_Description {
    color:#FF6060;
    line-height: 1.7;
    padding: 22px 22px;
    margin: 0;
    height: auto;
    font-weight: 100;
  }

  .textWhite {
    color: #FFFFFF;
  }
  
// --------------------------------------------------------------- Footer

.footer {
  height: 200px;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.logoFooter {
 color: #FFFFFF;
}

.paragraphFooter {
  color: #FFFFFF;
  text-align: center;
  padding: 0 8px;
}

// Responsive with medias queries -------------------------------------------------------
@media (max-width: 319px) {
  .divUp {
    min-width: 190px;
    margin-bottom: 20px;
  }

  .divContent {
    min-width: 190px;
    margin-bottom: 20px;
  }

  .h1 {
    font-size: 34px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
   .divUp {
    min-width: 230px;
    margin-bottom: 20px;
  }

  .divContent {
    min-width: 190px;
    margin-bottom: 20px; 
  }

   .h1 {
    font-size: 34px;
  }
}

@media (min-width: 601px) {
.divContent {
  width: 730px;
}
.divUp {
  width: 730px;
}
}