a:link {
  color: #FF6060;
}

.title404 {
  font-family: 'Montserrat';
  font-size: normal;
  font-weight: 700;
  font-size: 17rem;
  line-height: 7rem;
  text-align: center;
  color: #FF6060;
  margin: 0;
  padding: 7rem 0px;
}

.oups {
  text-align: center;
  color: #FF6060;
  font-weight: 300;
}

.backlink {
  text-align: center;
  font-weight: 100;
  padding: 30px 0px;
  text-decoration: underline;
  color: #FF6060;
}

.link {
  color: #FF6060;
}

