a:link {
  text-decoration: none;
}

.main {
  width: 90%;
  margin-left: 5%; }

.h1 {
  color: #FF6060;
  font-size: 40px; 
  text-align: start;
}

.localisation {
  color: #FF6060;
  font-size: 25px;
  line-height: 25.67px;
  font-weight: 400; }

// Container tags ---------------------------------------------------------------------
.tags {
  color: white;
  background-color: #FF6060;
  width: auto;
  height: 40px;
  text-align: start;
  border-radius: 14px;
  display: flex;
  align-items: center;
  border:none;
  margin: 0px 11px 11px 0px;
  padding: 0px 11px 0px 11px;
}

.borderStyle {
  width: 820px; }

.containerDivTags {
  display: flex;
  flex-wrap: wrap;
}

// Container slider -------------------------------------------------------------------

.sliderContainer {
  border-radius: 25px;
  box-shadow: 1px 1px 4px silver;
  height: 415px;
  position: relative;
}

.sliderButtonRight {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 170px 0px;
  }

  .sliderButtonLeft {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 170px 0px;

  }

.imgSlider {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
}

// Container host -------------------------------------------------------------------
// .hostFlex {
//   display: flex;
//   flex-wrap: wrap;
//   width: 50%;
//   align-items: center;
//   text-align: right;
// }

.containerContentProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerDivTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.divTags {
  display: flex;
}

.hostFlex {
  display: flex;
  flex-direction: row-reverse;
}

.authorName {
  display: flex;
  width: 108px;
  text-align: end;
  margin-right: 10px;
}

.hostImg {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

// Container stars (avis clients) --------------------------------------------------
.starsContainer {
  display: flex;
}

.redStar {
  width: 60px;
  height: 60px;
}

.whiteStar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: #FF6060 2px solid;
  display: flex;
}

// Container description ----------------------------------------------------------- //
.containerDescriptionEquipement {
    text-align: left;
}

.divContent {
    // border: solid 2px blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    border-radius: 14px;
    // border: solid 2px red;
    background-color: #F0F0F0F0;
    height: auto;
}

.divUp {
    background-color:#FF6060;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 14px;
    // border: solid 2px green;
    z-index: 1;
}

.divArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
    width: 60px;
  }

  .divButton {
    background-color:#FF6060;
    border: none;
    cursor: pointer;
  }

  .divText {
    font-weight: 100;
    display: block;
    color:#FF6060;
    margin: 7px -15px;
    height: auto;
    font-weight: 100;
  }

  .p_Description {
    color:#FF6060;
    line-height: 1.7;
    padding: 22px 22px;
    margin: 0;
    height: auto;
    font-weight: 100;
  }

  .textWhite {
    color: #FFFFFF;
  }
  
// --------------------------------------------------------------- Footer

.footer {
  height: 200px;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.logoFooter {
 color: #FFFFFF;
}

.paragraphFooter {
  color: #FFFFFF;
  text-align: center;
  padding: 0 8px;
}

// Responsive with medias queries -------------------------------------------------------
@media (min-width: 0px) and (max-width: 321px) {
  .divUp {
    min-width: 190px;
    margin-bottom: 20px;
  }

  .divContent {
    min-width: 190px;
    margin-bottom: 20px;
  }

  .h1 {
    font-size: 34px;
  }
  .tags {
    width: 33px;
    min-width: 100px;
  }
  .containerFlexDiv {
    // display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .hostFlex {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
  }

  .hostFlex p {
    display: flex;
    align-items: center;
    margin: 0 4px;
  }

  .div_stars {
    display: flex;
    align-items: center;
  }

  .div_stars img {
    display: flex;
    justify-content: end;
    width: 15px;
  }
}

@media (min-width: 322px) and (max-width: 424px) {
   .divUp {
    min-width: 230px;
    margin-bottom: 20px;
  }

  .divContent {
    min-width: 190px;
    margin-bottom: 20px; 
  }

   .h1 {
    font-size: 34px;
  }
  .containerFlexDiv {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row-reverse;
  }

.hostFlex {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
  }

  .hostFlex p {
    display: flex;
    align-items: center;
    margin: 0 4px;
  }

   .div_stars {
    display: flex;
    align-items: center;
    margin-right: 21px;
  }
  .div_stars img {
    width: 30px;
  }
}

@media (min-width: 424px) and (max-width: 800px) {
.divContent {
  margin-bottom: 20px; 
}
.divUp {
  margin-bottom: 20px;
}

.containerFlexDiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

.containerDescriptionEquipement {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .div_stars {
    display: flex;
    align-items: center;
    margin-right: 21px;
  }

  .hostFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {

  .containerDescriptionEquipement {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .divUp {
    width: 380px;
    background-color:#FF6060;
    padding: 0 22px;
    margin-bottom: 10px;
}

  .divUp2 {
    width: 380px;
    background-color:#FF6060;
    padding: 0 22px;
    margin-bottom: 20px;
}

  .divContent {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    border-radius: 14px;
    background-color: #F0F0F0F0;
    height: auto;
    margin-bottom: 20px;
}
}

@media (min-width: 1024px) and (max-width: 5000px) {
  .containerDescriptionEquipement {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    justify-content: space-between;
    margin: 0;
  }
  .divUp {
    min-width: 300px;
  }

  .divUp2 {
    min-width: 300px;
  }
}

// .containerFlexDiv {
//   // justify-content: space-between;
//   // flex-wrap: wrap;
// }

// .divDescription {
//   width: 773px;
//    display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     color: white;
//     border-radius: 14px;
//     background-color: #F0F0F0F0;
//     height: auto;
// }

// .divEquipment {
//   width: 773px;
//    display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     color: white;
//     border-radius: 14px;
//     background-color: #F0F0F0F0;
//     height: auto;
// }

