* {
  font-family: "Montserrat";
}

h1 {
  font-weight: 500; }

.containerOffer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // padding: 31px 20px;
  margin: 0 5%;
  border-radius: 15px;
  background-color: #F7F7F7; }

.containerOffer a {
  padding: 30px 0px 4px 0px;
}

.containerDiv {
  display: grid;
  height: 100%; }

.div_txt, .div_img {
  grid-area: 1/1;
  border-radius: 15px; }

.div_txt {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.66) 75%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 20px; }

.div_txt div {
  width: 100%; }

.div_txt div h3 {
  margin-bottom: 0; }

.div_txt div p {
  margin-bottom: 0; }

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover; }

// Responsive with medias queries -------------------------------------------------------
@media (max-width: 321px) {
  .containerOffer {
    // display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    }

  .containerOffer a {
    // margin-bottom: 30px;
     min-height: 200px;
     min-width: 200px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }
}


@media (min-width: 322px) and (max-width: 600px) {
  .containerOffer {
    // display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    }

  .containerOffer a {
    // margin-bottom: 30px;
     min-height: 200px;
     min-width: 200px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .BannerContainer {
    margin-bottom: 20px;
  }
  
  .containerOffer {
    // display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    }

  .containerOffer a {
    // margin-bottom: 30px;
     min-height: 200px;
     min-width: 200px;
     padding: 15px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }
}

@media (min-width: 901px) {
  .BannerContainer {
    margin-bottom: 20px;
  }
  
  .containerOffer {
    // display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; 
    }

  .containerOffer a {
    // margin-bottom: 30px;
     min-height: 200px;
     min-width: 200px;
     padding: 15px;
    }

  .bannerContainer h1 {
    text-align: start;
    padding-left: 20px;
  }

  .footer {
    margin-top: 20px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
.resolution-1024 {
  max-width: 1024px;
  margin: auto;
}
}

@media (min-width: 1025px) and (max-width: 5000px) {
.resolution-1440 {
  max-width: 1440px;
  margin: auto;
}
}
